
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by Namhyun Cho</p>
  </div>
</div>

<script type="text/javascript" src="/javascript/helpers.js"></script>
</body>
</html>
