<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>POSCO AAPC: LOGISTICS</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand"><a href="/">TRUCK ARRANGEMENT</a></p>
    </div>
    <div class="navbar-header">
      <input type="text">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li id="request"><a href="/request">TRUCK ORDER</a></li>
      <li id="freight"><a href="/freight-report">FREIGHT REPORT</a></li>
      <li id="logout"><a href="/logout">LOGOUT</a></li>
    </ul>
  </div>
</nav>
