<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">TRUCK ARRANGEMENT</a>
  
      <% if (currentUserId) { %>
        <form action="/search" method="post" class="form-inline" style="width: 30%; margin-right: auto;">
          <input class="search-box" type="search" placeholder="Search BOL No" aria-label="Search" name="search" required>
          <button class="search-btn" type="submit">Search</button>
        </form>
  
        <div class="justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <% if (userRole === "admin") { %>
              <li class="nav-item">
                <a class="nav-link" href="/request">REQUEST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/carrier">CARRIER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customer">CUSTOMER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/destination">DESTINATION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/freight-report">REPORT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">LOGOUT</a>
              </li>
            <% } else if (userRole === "user") { %>
              <li class="nav-item">
                <a class="nav-link" href="/request">REQUEST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customer">CUSTOMER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/destination">DESTINATION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">LOGOUT</a>
              </li>
            <% } %>
          </ul>
        </div>
      <% } %>
    </div>
  </nav>