<%- include("partials/header"); -%>

<body>
  <div class="container">
    <div class="title">
      <h2 class="title-heading">Register a Destination</h2>
      <p>Please enter destination information below and submit</p>
    </div>
  
    <form class="" action="/register-destination" method="post">

      <div class="row">
        <div class="form-group col-md-6">
          <label for="selectShippingFrom">Customer</label>
          <select id="selectShippingFrom" class="form-control" name="customer" required>
            <option value=""></option>
            <option value="LG">LG</option>
            <option value="ArcelorMittal">ArcelorMittal</option>
            <option value="3">Marelli</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputDestination">Destination</label>
          <input id="inputDestination" class="form-control" name="destination" type="text" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
            <label for="inputStreetAddress">Street Address</label>
            <input id="inputStreetAddress" class="form-control" name="streetAddress" type="text" required>
        </div>
          <div class="form-group col-md-3">
            <label for="inputCity">City</label>
            <input id="inputCity" class="form-control" name="city" type="text" required>
          </div>
          <div class="form-group col-md-1">
            <label for="selectState">State</label>
            <select id="selectState" class="form-control" name="state" required>
                <option value=""></option>
                <option value="TN">TN</option>
                <option value="AL">AL</option>
                <option value="FL">FL</option>
              </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZipcode">Zipcode</label>
            <input id="inputZipcode" class="form-control" name="zipcode" type="text" required>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZipcode">Country</label>
            <input id="inputZipcode" class="form-control" name="country" type="text" required>
          </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <button class="btn btn-lg btn-primary btn-block" type="submit" name="button" value="submit">Submit</button>
        </div>
      </div>

    </form>

</div>

<%- include("partials/footer"); -%>
<%- include("partials/scripts"); -%>
</body>

</html>