<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<body>
    <div class="container">
        <div class="title">
            <h2 class="title-heading">ERROR 404: PAGE NOT FOUND</h2>
            <p>Please contact the administrator if you need an assistance</p>
        </div>
    </div>

<%- include("partials/footer"); -%>
<%- include("partials/scripts"); -%>

</body>

</html>