<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>POSCO AAPC: LOGISTICS</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">TRUCK ARRANGEMENT</a>    
  </div>
</nav>

<body>
    <div class="container">
        <div class="title">
            <h2 class="title-heading">ERROR: UNAUTHORIZED</h2>
            <p>Please contact the administrator if you need an assistance</p>
        </div>
    </div>
<%- include("partials/footer"); -%>
<%- include("partials/scripts"); -%>
</body>

</html>