<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>POSCO AAPC: LOGISTICS</title>
  <meta charset="utf-8">


  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand"><a href="/">TRUCK ARRANGEMENT</a></p>
    </div>
  </div>
</nav>

<body class="text-center">
  <form class="form-signin">
    <div class="text-center">
      <img class="login-logo" src="https://static.wixstatic.com/media/e7745a_d0cfe9bb792a4b219851beb3f1084a57~mv2.png/v1/fill/w_314,h_120,al_c,q_85,usm_0.66_1.00_0.01/e7745a_d0cfe9bb792a4b219851beb3f1084a57~mv2.webp">
      <h1>Log In</h1>
      <p>Use POSCO AAPC email address</p>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

<%- include("partials/footer") -%>
