<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>POSCO AAPC: LOGISTICS</title>
  <meta charset="utf-8">


  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand"><a href="/">TRUCK ARRANGEMENT</a></p>
    </div>
  </div>
</nav>

<body class="form-group text-center">
  <form class="form-signin" action="/register" method="post">
    <div class="text-center">
      <img class="login-logo" src="/img/logo.png">
      <h1>Register</h1>
      <p>Use POSCO AAPC email address</p>
    </div>

    <div class="form-group">
      <label for="inputFirstName" class="sr-only">First Name</label>
      <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" name="firstName" required autofocus>

      <label for="inputLastName" class="sr-only">Last Name</label>
      <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" name="lastName" required>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" pattern="[a-z0-9._%+-]+@poscoaapc.com" title="Please use your company email address: ...@poscoaapc.com" placeholder="Email address" name="username" required>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    </div>

    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </div>

  </form>

<%- include("partials/footer") -%>
