<%- include("partials/header"); -%>

    <% if (err) { %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button class="close" data-dismiss="alert" aria-label="Close" type="button"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> <%= err %>
      </div>
    <% } %>

    <h1>Request For Trucks</h1>
    <p>Please enter your shipping information below and submit</p>
    <br/>
    <form class="" action="/request" method="post">

      <div class="form-group">
        <label>Customer</label>
        <input class="form-control" type="text" name="customer" required>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Shipping From</label>
          <input type="text" class="form-control" name="shippingFrom" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Delivery To</label>
          <input type="text" class="form-control" name="deliveryTo" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Shipping Date</label>
          <input class="form-control" type="date" name="shippingDate" required>
        </div>

        <div class="form-group col-md-6">
          <label>Delivery Date</label>
          <input class="form-control" type="date" name="deliveryDate" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <label>Weight(kg)</label>
          <input class="form-control" type="text" name="weightKg" pattern="[0-9]{1,5}" required>
        </div>

        <div class="form-group col-md-4">
          <label>BOL No</label>
          <input class="form-control" id="bolNo" type="text" name="bolNo" pattern="[A-Z]{1}[0-9]{11}" placeholder="Arrangement #" required>
        </div>

        <div class="form-group col-md-4">
          <label>Truck Type</label>
          <div class="form-group">
            <div class="form-check radio-inline">
              <input class="form-check-input" type="radio" name="truckOptions" id="flatbed" value="Flatbed">
              <label class="form-check-label" for="flatbed">Flatbed</label>
            </div>
            <div class="form-check radio-inline">
              <input class="form-check-input" type="radio" name="truckOptions" id="van" value="Van">
              <label class="form-check-label" for="flatbed">Van</label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Special Note</label>
        <input class="form-control" type="text" name="specialNote">
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit</button>

    </form>

<%- include("partials/footer"); -%>
