html {
  min-height: 100%;
  position: relative;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.navbar-nav li a:hover {
  color: lightskyblue !important;
}

body {
  font-size: 13px;
  font-family: Arial;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.row {
  margin-bottom: 0.5rem;
}

.form-control {
  font-size: 13px;
}

label.form-check-label {
  font-weight: 300;
}

.btn-delete {
  position: relative;
  display: block;
  letter-spacing: 5px;
  float: right;
  background-color: white;
  padding: 10px 15px;
  margin-right: 15px;
  border: 1px solid;
}

.btn-modify {
  position: relative;
  display: block;
  letter-spacing: 5px;
  float: right;
  background-color: white;
  padding: 10px 15px;
  margin-right: 15px;
  border: 1px solid;
}

.login-logo {
  width: 150px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 13px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.search-btn {
  padding: 6px;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-left: -6px;
  font-size: 13px;
  background-color: #f8f9fa !important;
}

.date-search-btn {
  padding: 7px;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  font-size: 13px;
  background-color: #f8f9fa !important;
}

.date-picker {
  padding: 6px;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  font-size: 13px;
}

.search-ship-to-customer {
  padding: 6px 6px 9px 6px;
  width: 65%;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  font-size: 13px;
}

.form-signin input[type="text"] {
  margin-bottom: 5px;
}

.form-signin input[type="email"] {
  margin-bottom: 5px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

/* .register-link {
  list-style: none;
  padding: 0;
  text-align: left;
} */

a:hover {
  text-decoration: underline;
}

.remember-me-input {
  text-align: left;
}

.title {
  margin-top: 1rem;
}

.homepage-title-heading {
  margin-bottom: 1rem;
}

.title-heading {
  margin-bottom: 0;
}

.carrier-title-heading {
  margin-bottom: 1rem;
  display: inline;
}

.customer-title-heading {
  margin-bottom: 1rem;
  display: inline;
}

form label {
  font-weight: bold;
  margin-bottom: 0;
}

h5 {
  font-size: 13px;
  font-weight: 700;
}

.single-request {
  display: none;
}

.show {
  display: block;
}

.tr {
  display: none;
}

.show-tr {
  display: table-row;
}

.a-request {
  border-radius: 0;
  border: 1px solid #ddd;
}

.a-request-header {
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  background-color: #f6f6f6;
}

.a-special-note {
  border-radius: 0 0 4px 4px;
  border: 1px solid #ddd;
  margin-top: -1px;
}

a {
  font-size: 13px;
}

.a-request-inner {
  padding: 14px 18px;
  position: relative;
}

.a-fixed-right-grid {
  position: relative;
}

.a-fixed-right-grid-inner {
  padding-right: 220px;
  position: relative;
}

.a-fixed-right-grid-col {
  position: relative;
}

.displayAddressUL {
  margin: 0;
  padding: 0;
}

.displayAddressLI {
  list-style: none;
  text-align: left;
}

.a-col-left {
  width: 100%;
  padding-right: 0%;
  float: left;
}

.a-column38 {
  width: 35%;
  float: left;
}

.a-column23 {
  width: 27%;
  float: left;
}

.a-column-header {
  margin: 0 0 4px 0;
}

.a-column46 {
  width: 46%;
  float: left;
}

.a-column53 {
  width: 53%;
  float: right;
  text-align: right;
}

.a-request-header-label {
  font-size: 11px;
  color: #555;
}

.modify-request-btn {
  display: block;
  background: #f6f6f6;
  width: 100%;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-top: 2px;
}

.assign-carrier-and-freight-btn {
  display: block;
  background: #fff;
  width: 100%;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.confirm-shipping-btn {
  display: block;
  background: #fff;
  width: 100%;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
}

.cancel-shipping-btn {
  display: block;
  background: #fff;
  width: 100%;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
}

.delete-request-btn {
  display: block;
  background: #fff;
  width: 100%;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.carrier-btn {
  float: right;
  background: #fff;
  width: 100px;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-top: 2px;
  margin-left: 5px;
}

.customer-btn {
  float: right;
  background: #fff;
  width: 100px;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-top: 2px;
  margin-left: 5px;
}

.carrier-form {
  display: inline;
}

.customer-form {
  display: inline;
}

.export-csv-btn {
  display: inline;
  background: #fff;
  width: 100px;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
}

.customer-li {
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

#destination-hr {
  margin-top: 0;
}

.destination-btn {
  float: right;
  background: #fff;
  width: 100px;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-top: 2px;
  margin-left: 5px;
}

.destination-form {
  display: inline;
}

.filter {
  font-size: 13px;
}

.dropdown-div {
  display: inline;
}

.filter-button {
  font-size: 13px;
  color: black;
  margin-top: 22px;
  float: right;
  background: #fff;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
}

.filter-button-report {
  font-size: 13px;
  color: black;
  float: right;
  margin-right: 10px;
  background: #fff;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
}

table {
  font-size: 11px;
}

.parentCell {
  position: relative;
}
.tooltip {
  display: none;
  position: absolute;
  z-index: 100;
  border: 1px;
  background-color: white;
  border: 1px solid green;
  padding: 3px;
  color: green;
  top: 20px;
  left: 20px;
}
.parentCell:hover span.tooltip {
  display: block;
}

.customer {
  font-size: 4px;
}
