html {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 13px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

h1 {
  display: block;
}

.btn-delete {
  position: relative;
  display: block;
  letter-spacing: 5px;
  float: right;
  background-color: white;
  padding: 10px 15px;
  margin-right: 15px;
  border: 1px solid;
}

.btn-modify {
  position: relative;
  display: block;
  letter-spacing: 5px;
  float: right;
  background-color: white;
  padding: 10px 15px;
  margin-right: 15px;
  border: 1px solid;
}

.login-logo {
  width: 150px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 5px;
}

.form-signin input[type="email"] {
  margin-bottom: 5px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.register-link {
  list-style: none;
  padding: 0;
  text-align: left;
}

a:hover {
  text-decoration: underline;
}

.remember-me-input {
  text-align: left;
}

.shipped {
  background-color: gray;
}

.title {
  padding-left: 15px;
}

h5 {
  font-weight: 700;
}

.a-request {
  border-radius: 0;
  border: 1px solid #ddd;
}

.a-request-header {
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  background-color: #f6f6f6;
}


.a-special-note {
  border-radius: 0 0 4px 4px;
  border: 1px solid #ddd;
  margin-top: -1px;
}

.a-request-inner {
  padding: 14px 18px;
  position: relative;
}

.a-fixed-right-grid {
  position: relative;
}

.a-fixed-right-grid-inner {
  padding-right: 220px;
  position: relative;
}

.a-fixed-right-grid-col {
  position: relative;
}

.displayAddressUL {
  margin: 0;
  padding: 0;
}

.displayAddressLI {
  list-style: none;
  text-align: left;
}

.a-col-left {
  width: 100%;
  padding-right: 0%;
  float: left;
}

.a-column38 {
  width: 35%;
  float: left;
}

.a-column23 {
  width: 27%;
  float: left;
}

.a-column-header {
  margin: 0 0 4px 0;
}

.a-column46 {
  width: 46%;
  float: left;
}

.a-column53 {
  width: 53%;
  float: right;
  text-align: right;
}

.a-request-header-label {
  font-size: 11px;
  color: #555;

}

